.Header {
  background-color: #0746a7;
  /* height: 75px; */
}
.HeaderButtons {
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.25rem;
  font-weight: 500;
  padding: 0.5rem 2rem;
}
.RequestButton {
  border: solid #84a1d1 2px;
  color: #f0f6f7;
}
.RequestButton:hover {
  background-color: #3763a5;
}

.ShipmentButton {
  background-color: #5cc77f;
  color: #f0f7f7;
}
.ShipmentButton:hover {
  background-color: #30d567;
}


.HeaderFlexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  background-color: #0746a7;
  flex-grow: 1;
}
.HeaderFlexItem:nth-child(1) {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  margin-left: 50px;
  margin-right: 80px;
  padding-top: 20px;
}
.HeaderFlexItem:nth-child(2) {
  order: 0;
  flex: 10 1 auto;
  align-self: auto;
  
  
}
.HeaderFlexItem:nth-child(3) {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  margin-left: 300px;
  margin-right: 50px;
  
}

@media (max-width: 800px) {
  .HeaderFlexContainer {
    flex-direction: column;
  }
}