.SelectAServiceContainer {
  margin: 0 13rem;
  background-color: #fff;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}