.SelectAServiceWrapper {
  margin: 0 13rem;
  background-color: #fff;
  padding-bottom: 2.5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 1px rgb(175, 173, 173);
}
.SelectAServiceFlexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;

  padding: 0 3.6rem;
}

.SelectAServiceHeader {
  padding: 2rem 3.6rem;
  padding-bottom: 2.5rem;
  font-size: larger;
  font-weight: 600;
}

@media (max-width: 600px) {
  .SelectAServiceWrapper {
    margin: 2rem 0.5rem;
  }
  .SelectAServiceFlexContainer {
    flex-direction: column;
    padding: 0.7rem 1rem;
  }
  .SelectAServiceHeader {
    padding: 0.7rem 1rem;
  }
  
} 